PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/securelend
JWT_SECRET=replace_me
JWT_EXPIRES_IN=7d
ML_SERVICE_URL=http://127.0.0.1:8000
GANACHE_RPC_URL=http://127.0.0.1:7545
BLOCKCHAIN_CONTRACT_ADDRESS=0xYourDeployedContractAddress
BLOCKCHAIN_PRIVATE_KEY=0xYourGanacheAccountPrivateKey
ADMIN_NAME=SecureLend Admin
ADMIN_EMAIL=admin@securelend.com
ADMIN_PASSWORD=Admin@1234
ADMIN_PHONE=+10000000000
